body {
  width: 100%;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.wrapper {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #f2f2f2;
  z-index: 99;
  border-bottom: 2px solid #2968ce;
}

.logo-wrapper {
  display: inline-block;
  float: left;
  width: auto;
  height: 50px;
  padding: 10px;
}

.logo-wrapper .logo {
  height: 100%;
}

#Navigatie {
  width: auto;
  height: 70px;
  margin: auto auto;
  float: right;
  text-align: center;
}

.nav_menu {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px;
  border: 2px solid #2968ce;
}

.nav_menu_blue {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px;
  border: 2px solid #ff4444;
}

label img {
  height: 40px;
}

input[type="checkbox"]{
    display:none;
}

.navigatie ul, .navigatie_blue ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.navigatie li, .navigatie_blue li {
  display: inline-block;
  position: relative;
  margin: 0px 5px;
  padding: 0px 10px;
  height: 70px;
}

.navigatie a, .navigatie_blue a {
  display: block;
  height: 70px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
}

.navigatie p, .navigatie_blue p {
  display: inline-flex;
}

.navigatie li:hover, .navigatie a:hover {
  box-sizing: border-box;
  border-bottom: 4px solid #2968ce;
}

.navigatie_blue li:hover, .navigatie_blue a:hover {
  box-sizing: border-box;
  border-bottom: 4px solid #ff4444;
}

.navigatie .active {
  box-sizing: border-box;
  border-bottom: 4px solid #2968ce;
}

.navigatie_blue .active {
  box-sizing: border-box;
  border-bottom: 4px solid #ff4444;
}

.reclame-block {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.reclame-block img {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.auto_slider {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.auto_slider img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.mySlides {
  display:none;
}

.text-wrapper {
  width: 70%;
  margin: 1em auto;
  box-sizing: border-box;
  z-index: 1;
}

.bio-wrapper {
  width: 100%;
  padding: 1em;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.bio-wrapper2 {
  width: 100%;
  padding: 1em;
  text-align: center;
  box-sizing: border-box;
}

.bigger {
  text-align: center;
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  margin: 0;
}

.smaller {
  text-align: center;
  color: white;
  font-size: 2em;
  line-height: 2em;
  margin: 0;
}

.text-wrapper p {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.centered {
  text-align: center;
  font-size: 1.5em;
}

.pakket {
  width: 25%;
  padding: 10px;
  background-color: #f2f2f2;
  border: 5px solid #2968ce;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}

.pakket ul {
  text-align: left;
}

.bestellen {
  width: 70%;
  cursor: pointer;
  margin: auto;
  line-height: 1.7em;
  background-color: #2968ce;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  box-sizing: border-box;
}

#Pakket1, #Pakket2, #Pakket3 {
  float: left;
  margin: 0px 4%;
  box-sizing: border-box;
}

.clickclick {
  cursor: pointer;
  text-decoration: underline;
}

.pakket img {
  width: 80%;
}

.clear {
  clear: both;
  margin-bottom: 40px;
}

.clear_both {
  clear: both;
}

iframe {
 width: 80%;
 height: 300px;
 border: 2px solid #2968ce;
 box-sizing: border-box;
 float: right;
}

.contact-info {
  float: left;
  display: inline-block;
  text-align: left;
}

.contact-info p span img {
  height: 1em;
  margin-right: 10px;
}

form {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

form h1, form p {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

label {
  font-size: 18px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #2968ce;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 18px;
    font-family: Helvetica;
}

input[type=submit] {
    background-color: #2968ce;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #2968ce;
    color: white;
    text-decoration: underline;
    font-style: italic;
}

.review {
  text-align: center;
}

.review_item {
  width: 100%;
  margin: 1em 0em;
  border: 2px solid #2968ce;
  border-radius: 100px;
  box-sizing: border-box;
}

.review_item img {
  height: 90px;
  width: 90px;
  border: 2px solid #2968ce;
  border-radius: 100px;
  float: left;
  box-sizing: border-box;
}

.review_item p {
  width: 85%;
  float: left;
  margin-left: 30px;
  font-size: 1.3em;
  text-align: left;
  box-sizing: border-box;
}

strong {
  font-size: 1.5em;
}

.social_media_wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.social_media_icons {
  width: auto;
  margin: auto;
}

.social_media_icons img {
  width: 100px;
  padding: 3px;
}

.twitterfeed {
  width: 50%;
  height: 50px;
  margin: 0 auto;
}

.color_picker {
  position: absolute;
  top: 0;
  left: 0;
}

.red, .blue {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid black;
  margin: 6px;
}

.red {
  background-color: #ff4444;
}

.blue {
  background-color: #2968ce;
}

#Footer {
  width: 100%;
  padding: 1em;
  background-color: #f2f2f2;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1350px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    margin: auto;
  }

  #Navigatie {
    margin-right: 5px;
  }

  .logo-wrapper {
    margin-left: 25px;
  }

  .navigatie li, .navigatie_blue li {
    margin: 0px 0px;
    padding: 0px 5px;
  }

  .contact-info {
    margin-left: 25px;
  }

  iframe {
   width: 70%;
   height: 300px;
   border: 2px solid #2968ce;
   box-sizing: border-box;
   float: right;
  }

  form {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  .review_item {
    width: 90%;
    margin: 1em auto;
  }

  #Footer {
    padding: 1em 2em;
  }
}

@media screen and (max-width: 1000px) {
  #Navigatie {
    position: fixed;
    top: 70px;
    left: 0px;
    height: auto;
    margin: 0 0 0 -502px;
    text-align: center;
    background-color: #f2f2f2;
    border: 0px solid #2968ce;
    border-width: 0px 2px 2px 0px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
  }

  .navigatie ul, .navigatie_blue ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
  }

  .navigatie li, .navigatie_blue li {
    display: block;
    position: relative;
    width: 500px;
    margin: 0px 0px;
    padding: 0px 0px;
    height: 70px;
  }

  .navigatie a, .navigatie_blue a {
    display: block;
    height: 70px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
  }

  .nav_menu, .nav_menu_blue {
    display: block;
  }

  input[type="checkbox"]:checked ~ #Navigatie{
      margin: 0 0 0 0;
  }

  .text-wrapper {
    width: 90%;
    margin: 1em auto;
    box-sizing: border-box;
    z-index: 1;
  }
}
