/* Grijs = #f2f2f2 */
/*  */

body {
  width: 100%;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  overflow-x: hidden;
}

.wrapper {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #f2f2f2;
  z-index: 99;
  border-bottom: 2px solid #2968ce;
}

.logo-wrapper {
  display: inline-block;
  float: left;
  width: auto;
  height: 50px;
  padding: 10px;
}

.logo-wrapper .logo {
  height: 100%;
}

#Navigatie {
  width: auto;
  height: 70px;
  margin: auto auto;
  float: right;
  text-align: center;
}

.navigatie ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.navigatie li {
  display: inline-block;
  position: relative;
  margin: 0px 5px;
  padding: 0px 10px;
  height: 70px;
}

.navigatie a {
  display: block;
  height: 70px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
}

.navigatie p {
  display: inline-flex;
}

.navigatie li:hover, .navigatie a:hover {
  box-sizing: border-box;
  border-bottom: 4px solid #2968ce;
}

.navigatie .active {
  box-sizing: border-box;
  border-bottom: 4px solid #2968ce;
}

.reclame-block {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.reclame-block img {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.text-wrapper {
  width: 70%;
  margin: 1em auto;
  box-sizing: border-box;
  z-index: 1;
}

.bio-wrapper {
  width: 100%;
  padding: 1em;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.bigger {
  text-align: center;
  color: white;
  font-size: 3em;
  line-height: 1.5em;
  margin: 0;
}

.smaller {
  text-align: center;
  color: white;
  font-size: 2em;
  line-height: 2em;
  margin: 0;
}

.text-wrapper p {
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.centered {
  text-align: center;
  font-size: 1.5em;
}

#Footer {
  width: 100%;
  padding: 1em;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
